body{
    padding: 10%;
    color: rgb(84, 97, 151);
}

  #left{
    width: 40%;
    float: left;
    font-style: normal;
    padding: 2.5%;
  }
  
  #right{
    width: 40%;
    float: right;
    font-style: normal;
    padding-left: 10%;
    border-left: solid 3px steelblue;
  }
  h{
    font-size: x-large;
  }
  